<div class="row">
    <div class="col-12 mt-3 mb-1">
        <h5 class="text-uppercase">Statistics With Subtitle</h5>
        <p>Statistics on minimal cards with Title &amp; Sub Title.</p>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Rythm" src="../bots/rythm.png">
                        </div>
                        <div>
                            <h2>Rythm</h2>
                            <p class="bot-description">Rythm makes it possible to listen to your favorite music with all
                                your friends. Add it to Discord today and start
                                listening!</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=235088799074484224&permissions=3457096&scope=bot+applications.commands+identify+guilds+email&response_type=code&redirect_uri=https%3A%2F%2Frythm.fm%2Fauth%2Fdiscord&state=eyJhbmFseXRpY3MiOnsicmVmZXJyZXIiOiJtYXJrZXRpbmctbmdpbngifSwiYm90IjoicjEiLCJyZWRpcmVjdCI6Imh0dHBzOi8vcnl0aG0uZm0vIn0="
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <a href="../bots/mee6.png" target="_blank">
                                <img alt="MEE6" src="../bots/mee6.png">
                            </a>
                        </div>
                        <div>
                            <h2>MEE6</h2>
                            <p class="bot-description">The most easy-to-use Discord bot! Custom Commands | Moderation |
                                Leveling | Twitch | Youtube | Reddit & more!</p>
                            <a class="btn btn-primary" href="https://mee6.xyz/" target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Dank Memer" src="../bots/dankmeme.png">
                        </div>
                        <div>
                            <h2>Dank Memer</h2>
                            <p class="bot-description">Global currency game with over 20m users, stealing, pets, unique
                                items, and more! We also have image generation, memes,
                                and mini-games!</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=270904126974590976&scope=bot%20applications.commands&permissions=105227086912&redirect_uri=https%3A%2F%2Fdankmemer.lol%2Flanding&response_type=code"
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Dyno" src="../bots/dyno.png">
                        </div>
                        <div>
                            <h2>Dyno</h2>
                            <p class="bot-description">Dyno is a fully customizable bot for your server with a web
                                dashboard, moderation, autoroles, automod, reaction roles,
                                starboard, and more.</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=161660517914509312&scope=bot%20identify%20guilds%20applications.commands&response_type=code&redirect_uri=https://dyno.gg/return&permissions=1513962695871&state=azm2GmmseKa5YGToRzbtY"
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Mudae" src="../bots/mudae.png">
                        </div>
                        <div>
                            <h2>Mudae</h2>
                            <p class="bot-description">Database of 80,000 anime/game characters: make and customize the
                                best collection in your server. 400 commands,
                                multiplayer games and more!</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=432610292342587392&permissions=537159744&scope=applications.commands%20bot"
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="OwO" src="../bots/owo.png">
                        </div>
                        <div>
                            <h2>OwO</h2>
                            <p class="bot-description">Keep track of your OwOs and compete globally! Hunt for animals
                                and fight other users!</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=408785106942164992&permissions=1074120776&scope=bot"
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="ZeroTwo" src="../bots/zerotwo.png">
                        </div>
                        <div>
                            <h2>ZeroTwo</h2>
                            <p class="bot-description">Personalize your Discord with Zero Two (002). Customize Profiles
                                | Music | Economy | Welcome Images | Auto Role | Web
                                Dashboard</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=469610550159212554&scope=bot%20applications.commands%20identify%20guilds%20email&redirect_uri=https%3A%2F%2Fzerotwo.bot%2Fdashboard%2Fzlogin.php&response_type=code&state=landing&permissions=406187094"
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Pokétwo" src="../bots/poke2.png">
                        </div>
                        <div>
                            <h2>Pokétwo</h2>
                            <p class="bot-description">The Pokémon experience, on Discord. Catch, level, evolve Pokémon,
                                trade and battle with friends, and more. All free and
                                open source. Poketwo</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=716390085896962058&scope=bot%20applications.commands&permissions=388168"
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-3 mb-1">
        <h5 class="text-uppercase">Statistics With Subtitle</h5>
        <p>Statistics on minimal cards with Title &amp; Sub Title.</p>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Rythm" src="../bots/rythm.png">
                        </div>
                        <div>
                            <h2>Rythm</h2>
                            <p class="bot-description">Rythm makes it possible to listen to your favorite music with all
                                your friends. Add it to Discord today and start
                                listening!</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=235088799074484224&permissions=3457096&scope=bot+applications.commands+identify+guilds+email&response_type=code&redirect_uri=https%3A%2F%2Frythm.fm%2Fauth%2Fdiscord&state=eyJhbmFseXRpY3MiOnsicmVmZXJyZXIiOiJtYXJrZXRpbmctbmdpbngifSwiYm90IjoicjEiLCJyZWRpcmVjdCI6Imh0dHBzOi8vcnl0aG0uZm0vIn0="
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="MEE6" src="../bots/mee6.png">
                        </div>
                        <div>
                            <h2>MEE6</h2>
                            <p class="bot-description">The most easy-to-use Discord bot! Custom Commands | Moderation |
                                Leveling | Twitch | Youtube | Reddit & more!</p>
                            <a class="btn btn-primary" href="https://mee6.xyz/" target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Dank Memer" src="../bots/dankmeme.png">
                        </div>
                        <div>
                            <h2>Dank Memer</h2>
                            <p class="bot-description">Global currency game with over 20m users, stealing, pets, unique
                                items, and more! We also have image generation, memes,
                                and mini-games!</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=270904126974590976&scope=bot%20applications.commands&permissions=105227086912&redirect_uri=https%3A%2F%2Fdankmemer.lol%2Flanding&response_type=code"
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Dyno" src="../bots/dyno.png">
                        </div>
                        <div>
                            <h2>Dyno</h2>
                            <p class="bot-description">Dyno is a fully customizable bot for your server with a web
                                dashboard, moderation, autoroles, automod, reaction roles,
                                starboard, and more.</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=161660517914509312&scope=bot%20identify%20guilds%20applications.commands&response_type=code&redirect_uri=https://dyno.gg/return&permissions=1513962695871&state=azm2GmmseKa5YGToRzbtY"
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Mudae" src="../bots/mudae.png">
                        </div>
                        <div>
                            <h2>Mudae</h2>
                            <p class="bot-description">Database of 80,000 anime/game characters: make and customize the
                                best collection in your server. 400 commands,
                                multiplayer games and more!</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=432610292342587392&permissions=537159744&scope=applications.commands%20bot"
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="OwO" src="../bots/owo.png">
                        </div>
                        <div>
                            <h2>OwO</h2>
                            <p class="bot-description">Keep track of your OwOs and compete globally! Hunt for animals
                                and fight other users!</p>
                            <a class="btn btn-primary"
                                href="https://discord.com/oauth2/authorize?client_id=408785106942164992&permissions=1074120776&scope=bot"
                                target="_blank">
                                <h4 class="mb-0">Invite</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>