<div class="row">
    <div class="col-12 mt-3 mb-1">
        <h1 class="text-uppercase">Discord Servers</h1>        
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Roblox" src="../servers/roblox.png">
                        </div>
                        <div>
                            <h2>Roblox</h2>
                            <p class="bot-description">Roblox! The largest community ran Roblox server on Discord. For
                                both players and developers.</p>
                            <a class="btn btn-primary" href="https://top.gg/servers/150074202727251969/join"
                                target="_blank">
                                <h4 class="mb-0">Join</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Emoji" src="../servers/emoji.png">
                        </div>
                        <div>
                            <h2>🥤 Emoji.gg | Discord Emojis, Servers & Bots ★ Nitro Emotes, Stickers, Anime</h2>
                            <p class="bot-description">The best place to find emojis for Discord</p>
                            <a class="btn btn-primary" href="https://top.gg/servers/321845546534830085/join"
                                target="_blank">
                                <h4 class="mb-0">Join</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Anime Soul" src="../servers/animesoul.png">
                        </div>
                        <div>
                            <h2>Anime Soul Discord</h2>
                            <p class="bot-description">Anime Discord | Gaming | Social | Fun | LoL community with 240+
                                emotes, join us today!</p>
                            <a class="btn btn-primary" href="https://top.gg/servers/290843998296342529/join"
                                target="_blank">
                                <h4 class="mb-0">Join</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="TikTok" src="../servers/tiktok.png">
                        </div>
                        <div>
                            <h2>TikTok Zone</h2>
                            <p class="bot-description">TikTok Zone is the best place to chill!
                                You can find new friends.
                                Active chats and voice calls.</p>
                            <a class="btn btn-primary" href="https://top.gg/servers/898685507142316093/join"
                                target="_blank">
                                <h4 class="mb-0">Join</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Medal.tv" src="../servers/medaltv.png">
                        </div>
                        <div>
                            <h2>Medal.tv</h2>
                            <p class="bot-description">The official Medal.tv Discord Server - share and watch clips, get
                                involved with our gaming community and receive help
                                and support for any issues you run into with Medal.tv or MedalBot.</p>
                            <a class="btn btn-primary" href="https://top.gg/servers/306276944780066819/join"
                                target="_blank">
                                <h4 class="mb-0">Join</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="GTA" src="../servers/gta.png">
                        </div>
                        <div>
                            <h2>GTA Online</h2>
                            <p class="bot-description">The largest GTA server on Discord and an official Discord
                                partner! Players can come together to look for other people to
                                play and chat with.</p>
                            <a class="btn btn-primary" href="https://top.gg/servers/224565836277481473/join"
                                target="_blank">
                                <h4 class="mb-0">Join</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="Study Together" src="../servers/study.png">
                        </div>
                        <div>
                            <h2>Study Together</h2>
                            <p class="bot-description">🚀 Find your study flow on the largest global student community
                                on Discord, and regain motivation and focus on your
                                study sessions. 🚀</p>
                            <a class="btn btn-primary" href=https://top.gg/servers/595999872222756885/join
                                target="_blank">
                                <h4 class="mb-0">Join</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                        <div class="user-logo align-self-center">
                            <img alt="NFT World" src="../servers/nft.png">
                        </div>
                        <div>
                            <h2>NFTs World | Web 3.0 Community • Metaverse • Crypto • Collabs • Advertise • Promotions •
                                Marketing</h2>
                            <p class="bot-description">TLargest NFT Community for everyone to discuss about NFTs, find
                                new projects and look for collaborations!</p>
                            <a class="btn btn-primary" href="https://top.gg/servers/717022085859508255/join"
                                target="_blank">
                                <h4 class="mb-0">Join</h4>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>