<!DOCTYPE html>
<form>
    <label for="userid">Discord ID</label><br>
    <input type="text" id="userid" name="userid"><br>
    <!-- <button>Save</button> -->
    <input type="submit" value="Submit">
</form>
